@charset "UTF-8";
/*HTML ID CSS = # */
/*HTML CLASS CSS É . (PONTO) */

body{
    background-color: #04BF9D;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #253659;
   
}
h1#principal{
    text-align: center;
    font-weight: bolder;
    background-color: #F27457
}
h2{
    color: #253659;
}
/*NAO COLOCAR O NOME DA TAG EXEMPLP H1 SOMENTE USAR O . NO CLASS*/
.basico{
color: green;
}
.intermediario{
color: yellow;
}
.avançado{
    color: red;

}
.destaque{
    background-color: #F27457;
}